body {
    margin: 0 auto;
}

#box {
    margin: 0 auto;
    border: 1px;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

#layout_left {
    border: 1px solid #000;
    background-color: lightblue;
    padding: 10px 10px 10px 10px;
    margin-left: 200px;
}

#layout_right {
    border: 1px solid #000;
    background-color: lightblue;
    padding: 10px 10px 10px 10px;
    margin-right: 200px;
}

.layout_center {
    margin: 0 auto;;
}

.form-area {
    margin: 0 auto;
    margin-top: 50px;
    width: 300px;;
    text-align: center;
}

form {
    display: inline-block;
}

#layout--events {
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

#layout--events thead td {
    background-color: #e9e1be;
    border: 1px solid #000;
}

#layout--events tbody td {
    background-color: #dbad92;
    border: 1px solid #000;
    border-top: none;
}

#layout--clients {
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

#layout--clients thead td {
    background-color: #e9e1be;
    border: 1px solid #000;
}

#layout--clients tbody td {
    background-color: #dbad92;
    border: 1px solid #000;
    border-top: none;
}